---
import LayoutWithHero from "../../layouts/LayoutWithHero.astro";
import CardInvite from "../../components/CardInvite.astro";
import Invite from "../../assets/img/image17.webp";

import { listeinvite } from "../../../backend/backend.mjs";
const invites = await listeinvite();
---

<LayoutWithHero src={Invite} alt="image de la programmation des films">
  <h2>
    Cette année, le festival célèbre l'univers fascinant de l'animation
    japonaise avec la présence exceptionnelle de créateurs, artistes et experts
    de renommée nationale et internationale. Découvrez nos invités d'honneur qui partageront
    leurs expériences, leurs œuvres, et leurs inspirations avec vous tout au
    long du festival.
  </h2>
  
  <div class="grille my-24">
    {
      invites.length > 0 ? (
        invites.map((invite) => <CardInvite {...invite} />)
      ) : (
        <p>Aucun invité prévu.</p>
      )
    }
  </div>
</LayoutWithHero>
