---
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
import CardAccueil from "../components/CardAccueil.astro";
import imgHero from "../assets/img/Accueil.webp";
import FestivalImg from "../assets/img/festival.webp";
import CalendrierImg from "../assets/img/calendrier.webp";
import { Picture } from "astro:assets";
const { src, alt } = Astro.props;
import fleche from "../assets/icons/fleche2.svg";
---

<LayoutWithHero src={imgHero} alt="image d'accueil">
  <h1 class="text-lime-600 lg text-center">Bienvenue chez animēshon !</h1>
  <p class="pr-10 pb-5 pl-10">
    Ne manquez pas l'occasion de participer à la toute première édition du
    Festival du Film d'Animation Japonaise, qui se tiendra du 11 au 13 juillet
    2025 à Belfort, à l'AtraXion. Profitez d'une expérience inédite avec des
    projections captivantes et des événements uniques. La billetterie est facile
    d'accès, avec des tarifs adaptés à tous les budgets, notamment des
    réductions pour les étudiants, ainsi que des événements gratuits. Retrouvez
    toutes les informations nécessaires concernant les prix et les modalités de
    réservation ci-dessous. Assurez-vous de réserver dès maintenant pour ne pas
    manquer les moments forts de ce festival qui s’annonce inoubliable !
  </p>
  <CardAccueil text="En savoir plus sur le festival" src={FestivalImg} />

  <h2 class="lg text-center">Programme</h2>
  <p class="pr-10 pl-10 pb-5">
    Le Festival du Film d'Animation Japonaise, qui se déroulera du 11 au 13
    juillet 2025 à Belfort, vous invite à trois jours dédiés à l’animation
    japonaise. Découvrez des films exclusifs, des making-of captivants, et
    participez à des discussions avec des professionnels du secteur. Des
    ateliers interactifs vous plongeront dans les métiers de l’animation, et un
    stand mettra en avant des créations liées à la culture japonaise. Plongez
    dans un univers de créativité et de partage !
  </p>

  <CardAccueil
    text="En savoir plus sur la programmation des films "
    src={CalendrierImg}
  />
  <h2 class="lg text-center">Billeterie</h2>
  <p class="pr-10 pl-10 pb-5">
    le Festival du Film d'Animation Japonaise, qui se tiendra du 11 au 13
    juillet 2025 à Belfort. Notre billetterie est simple et accessible, avec des
    options pour tous les budgets, y compris des réductions pour les étudiants
    et des événements gratuits. Consultez les informations sur les tarifs et
    modalités de réservation ci-dessous, et n'attendez plus pour réserver votre
    place afin de profiter des projections exclusives et des temps forts du
    festival!
  </p>
</LayoutWithHero>
