---
import Layout from "../layouts/Layout.astro";
import CardWithSlot from "../components/CardWithSlot.astro";
import CalendrierImg from "../assets/img/Calendrier.webp";
import imgHero from "../assets/img/Accueil.webp";
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
---

<LayoutWithHero src={imgHero} alt="Festival ANIMÉSHON">
  <div class="container mx-auto p-6">
    <h1 class="text-4xl font-bold mb-6 text-center">
      Bienvenue au Festival du Film d'Animation Japonaise
    </h1>

    <h2 class="font-bold mb-6 text-center">
      Premiere édition : du 11- 13 Juillet 2025 à l'Atraxion Belfort Andelnans
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <CardWithSlot href="/programmation_film">
        <p class="text-lg text-gray-700">
          Découvrez notre programmation de films d'animation japonaise, incluant
          des avant-premières, des classiques et des rencontres avec des
          réalisateurs.
        </p>
      </CardWithSlot>
      <CardWithSlot href="/programmation_activite">
        <p class="text-lg text-gray-700">
          En savoir plus sur le festival, nos invités spéciaux, et les
          événements spéciaux que nous avons prévus pour vous tout au long de
          l'événement.
        </p>
      </CardWithSlot>
      <CardWithSlot href="/en_savoir_plus">
        <p class="text-lg text-gray-700">
          Découvrez les différentes personnes qui vous accompagnerons et seront
          présentes lors des activités et des projections que nous avons
          prévues.
        </p>
      </CardWithSlot>
    </div>
  </div>
  <div class="mt-8 mx-24">
    <CardWithSlot href="/billetterie">
      <h2 class="text-2xl font-bold mb-4 text-center">Billetterie</h2>
      <p class="text-lg text-gray-700">
        Le Festival du Film d'Animation Japonaise, qui se tiendra du 11 au 13
        juillet 2025 à Belfort. Notre billetterie est simple et accessible, avec
        des options pour tous les budgets, y compris des réductions pour les
        étudiants et des événements gratuits.
      </p>
      <p class="text-lg text-gray-700 mt-4">
        Consultez les informations sur les tarifs et modalités de réservation
        ci-dessous, et n'attendez plus pour réserver votre place afin de
        profiter des projections exclusives et des temps forts du festival!
      </p>
    </CardWithSlot>
  </div>
</LayoutWithHero>
