---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <section class="section">
    <section class="page__section page__section--welcome container">
      <img
        class="page__image page__image--welcome"
        src="/assets/img/Accueil"
        alt="image representant des décord du japon en style animé"
      />
      <h1 class="page__title">Bienvenue chez animēshon !</h1>
      <p class="page__text">
        Ne manquez pas l'occasion de participer à la toute première édition du
        Festival du Film d'Animation Japonaise, qui se tiendra du 11 au 13
        juillet 2025 à Belfort, à l'AtraXion. Profitez d'une expérience inédite
        avec des projections captivantes et des événements uniques. La
        billetterie est facile d'accès, avec des tarifs adaptés à tous les
        budgets, notamment des réductions pour les étudiants, ainsi que des
        événements gratuits. Retrouvez toutes les informations nécessaires
        concernant les prix et les modalités de réservation ci-dessous.
        Assurez-vous de réserver dès maintenant pour ne pas manquer les moments
        forts de ce festival qui s’annonce inoubliable !
      </p>
      <img
        class="page__image"
        src="/assets/img/festival.webp"
        alt="image d'un festival en style anime"
      />
      <div class="page__more-info"></div>
      <a href="/a_propos.html" class="button-link">
        <img
          class="page__icon"
          src="/assets/icons/fleche2.svg"
          alt="fleche du bouton"
        />En savoir plus sur le fesival
      </a>
    </section>
    <section class="page__section page__section--program">
      <h2 class="page__subtitle">Programme</h2>
      <p class="page__text">
        Le Festival du Film d'Animation Japonaise, qui se déroulera du 11 au 13
        juillet 2025 à Belfort, vous invite à trois jours dédiés à l’animation
        japonaise. Découvrez des films exclusifs, des making-of captivants, et
        participez à des discussions avec des professionnels du secteur. Des
        ateliers interactifs vous plongeront dans les métiers de l’animation, et
        un stand mettra en avant des créations liées à la culture japonaise.
        Plongez dans un univers de créativité et de partage !
      </p>
      <div class="page__more-info"></div>
      <img
        class="page__image"
        src="/assets/img/calendrier.webp"
        alt="image calendrier style anime"
      />
      <a href="programmation.html" class="button-link" loading="lazy">
        <img
          class="page__icon"
          src="/assets/icons/fleche2.svg"
          alt="fleche du bouton"
        />En savoir plus sur le programme
      </a>
    </section>
    <section class="page__section page__section--tickets">
      <h2 class="page__subtitle">billetterie</h2>
      <p class="page__text">
        Assurez-vous de vivre une expérience inoubliable en réservant vos
        billets pour le Festival du Film d'Animation Japonaise, qui se tiendra
        du 11 au 13 juillet 2025 à Belfort. Notre billetterie est simple et
        accessible, avec des options pour tous les budgets, y compris des
        réductions pour les étudiants et des événements gratuits. Consultez les
        informations sur les tarifs et modalités de réservation ci-dessous, et
        n'attendez plus pour réserver votre place afin de profiter des
        projections exclusives et des temps forts du festival!
      </p>
      <img
        class="page__image"
        src="/assets/img/billetteries.webp"
        alt="Deux personne s'embrassant devant un billet de cinéma géant en style animé"
        loading="lazy"
      />

      <a href="autre_page.html" class="button-link">
        <img
          class="page__icon"
          src="/assets/icons/fleche2.svg"
          alt="fleche du bouton"
        /> Réserver votre billet !
      </a>
    </section>
    <section class="page__section page__section--partners">
      <h2 class="page__subtitle">Partenaires</h2>
      <ul>
        <li>
          <a href="https://www.bourgognefranchecomte.fr"
            ><img
              src="/assets/img/région.webp"
              alt="Logo région bourgogne_franche-comté"
              loading="lazy"
            /></a
          >
        </li>
        <li>
          <a href="https://www.grandbelfort.fr" loading="lazy"
            ><img
              src="/assets/img/grdbelfort.webp"
              alt="logo grand belfort"
              loading="lazy"
            /></a
          >
        </li>
        <li>
          <a href="https://www.belfort-tourisme.com"
            ><img
              src="/assets/img/TourismeBelfort.webp"
              alt="Logo belfort tourisme"
              loading="lazy"
            /></a
          >
        </li>
        <li>
          <a href="https://www.glenat.com/manga"
            ><img
              src="/assets/img/glenat.webp"
              alt="logo glénat"
              loading="lazy"
            /></a
          >
        </li>
        <li>
          <a
            href="https://kinepolis.fr/cinémas/kinepolis-belfort/info/"
            loading="lazy"
            ><img src="/assets/img/kinépolis.webp" alt="logo kinépolis" /></a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/kissa.sanctuary/" loading="lazy"
            ><img src="/assets/img/kissa.webp" alt="logo kissa sanctuary" /></a
          >
        </li>
        <li>
          <a href="https://www.gakkodento.info"
            ><img
              src="/assets/img/gakkdento.webp"
              alt="logo gakkodento"
              loading="lazy"
            /></a
          >
        </li>
        <li>
          <a href="https://www.necronomi-con.com"
            ><img
              src="/assets/img/necronomicon.webp"
              alt="logo necronomicon"
              loading="lazy"
            /></a
          >
        </li>
      </ul>
    </section>
  </section>
</Layout>
