---
import FestivalImg from "../assets/img/festival.webp";
import CalendrierImg from "../assets/img/calendrier.webp";
import { Picture } from "astro:assets";
const { text, src, alt } = Astro.props;
import fleche from "../assets/icons/fleche2.svg";
---

<div class="mx-20 justify-center">
  <Picture
    class="rounded-t lg:w-full"
    src={src}
    pictureAttributes={{ class: "inset-0 object-cover" }}
    formats={["avif", "webp"]}
    alt="image d'un festival en style anime"
  />

  <div class="flex justify-center items-center pb-4">
    <a
      href="/a_propos"
      class="inline-flex items-center justify-center px-4 py-2 bg-sky-500 text-black font-semibold  rounded-b hover:bg-lime-500 transition-colors w-full"
    >
      <Picture
        src={fleche}
        alt="Fleche du bouton"
        class="w-7 h-7 mr-7"
        pictureAttributes={{ class: "object-cover" }}
        formats={["avif", "webp"]}
      />

      {text}
    </a>
  </div>
</div>
