---
import FestivalImg from "../assets/img/festival.webp";
import CalendrierImg from "../assets/img/calendrier.webp";
import { Picture } from "astro:assets";
const { text, src, alt } = Astro.props;
import fleche from "../assets/icons/fleche2.svg";
---

<div class="mx-20 justify-center">
  

  <div class="flex justify-center items-center ">
    <a
      href="/a_propos"
      class="inline-flex items-center justify-center  bg-sky-500 text-black font-semibold  rounded-b hover:bg-white transition-colors w-full"
    >
      <Picture 
        src={fleche}
        alt="Fleche du bouton"
        class="w-7 h-7 mr-7 p-1"
        pictureAttributes={{ class: "object-cover" }}
        formats={["avif", "webp"]}
      />

      {text}
    </a>
  </div>
</div>
